<div class="top-article">
    <%for (var index in articles){%>
        <%if(articles[index].isTop){%>
            <span class="top-article-title"><a class="title" href="bbs/view?id=<%= articles[index]._id%>"><%= articles[index].title %></a><label class="ui-label-s">置顶</label></span>
        <%}%>
    <%}%>
</div>


<%for (var index in articles){%>
<%if(!articles[index].isTop){ %>
<div class="ui-item-box">
    <div class="header util-clearfix ">
        <img class="ui-avatar-s util-pull-left" src="<%= articles[index].author.headimgurl %>" >
        </img>
        <div class="status util-pull-left ">
            <h6 class="username"><%= articles[index].author.nickname %> <%if(articles[index].isTop){%><label class="ui-label-s">置顶</label><%}%></h6>
            <h6 class="ui-txt-muted time"><%= articles[index].createDate %></h6>
        </div>
    </div>
    <div class="content-wrapper util-clearfix">
        <a class="title" href="bbs/view?id=<%= articles[index]._id%>"><%= articles[index].title %> <% if(articles[index].hasImg){%><span class="ui-my-badge">图</span><% } %></a>
        <h5 class="ui-txt-justify content-text">
            <%= articles[index].content %>
        </h5>
        <div class="content-image">
            <% for(var i in articles[index].images) {%>
                <img src="<%= articles[index].images[i]%>" alt="">
            <%}%>
        </div>
    </div>
    <% if(articles[index].comments.length != 0){ %>
    <div class="comment-wrapper">
        <% for(var i = 0; i < articles[index].comments.length && i < 3; i ++){ %>
        <div class="comment util-clearfix">
            <div class="avatar-container util-text-center">
                <img class="user-avatar" src="<%= articles[index].comments[i].author.headimgurl %>">
            </div>
            <div class=" comment-container">
                <a class="username"><%= articles[index].comments[i].author.nickname %></a>
                <span class="comment-text ui-txt-justify"><%= articles[index].comments[i].body %></span>
            </div>
        </div>
        <% } %>
    </div>

    <% if(articles[index].comments.length - 3 > 0){ %>
    <div class="view-all-comments util-text-center">
        <a href = "" class="view-all-comments-link">查看全部<%= articles[index].comments.length %>条回复</a>
        <div class="all-comments-container util-hidden">
            <% for(var i = 3; i < articles[index].comments.length ; i ++){ %>
            <div class="comment util-clearfix">
                <div class="avatar-container util-text-center">
                    <img class="user-avatar" src="<%= articles[index].comments[i].author.headimgurl %>">
                </div>
                <div class=" comment-container">
                    <a class="username"><%= articles[index].comments[i].author.nickname %></a>
                    <span class="comment-text ui-txt-justify"><%= articles[index].comments[i].body %></span>
                </div>
            </div>
            <%}%>
        </div>
    </div>
    <% } %>

    <% } else { %>

    <div class="view-all-comments util-text-center">
        <a href="javascript:void(0)">暂无评论</a>
    </div>

    <%  } %>

    <section class="ui-input-wrap">
        <div class="ui-input ui-border-radius">
            <input type="text" name="addComment" value="" class="add-comment" placeholder="我也说一句...">
        </div>
        <button class="ui-btn ui-btn-primary addComment" data-articleId="<%= articles[index]._id %>">评论</button>
    </section>

</div>
<% } %>
<% } %>