<%for (var index in articles){%>
<div class="ui-item-box">
    <div class="header util-clearfix ">
        <img class="ui-avatar-s util-pull-left" src="<%= articles[index].author.headimgurl %>" >
        </img>
        <div class="status util-pull-left ">
            <h6 class="username"><%= articles[index].author.nickname %></h6>
            <h6 class="ui-txt-muted time"><%= articles[index].createDate %></h6>
        </div>
    </div>
    <div class="content-wrapper util-clearfix">
        <a class="title" href="article/view?id=<%= articles[index]._id%>"><%= articles[index].title %> <% if(articles[index].hasImg){%><span class="ui-my-badge">图</span><% } %></a>
        <h5 class="ui-txt-justify content-text">
            <%= articles[index].content %>
        </h5>
        <div class="content-image">
            <% for(var img in articles[index].imgs) {%>
                <img src="<%= img.src %>" alt="">
            <%}%>
        </div>
        <i class="fa fa-commenting util-pull-right"></i>
        <i class="fa fa-thumbs-up util-pull-right like" id="<%= articles[index]._id %>" data-status="<%= articles[index].isLiked %>"><%if(articles[index].isLiked) {%>已赞 <% }%></i>
    </div>
    <%if(articles[index].comments.length != 0){%>
    <div class="comment-wrapper">
        <% for(var i = 0; i < articles[index].comments.length && i < 3; i ++){ %>
        <div class="comment util-clearfix">
            <div class="avatar-container util-text-center">
                <img class="user-avatar" src="<%= articles[index].comments[i].author.headimgurl %>">
            </div>
            <div class=" comment-container">
                <a class="username"><%= articles[index].comments[i].author.nickname %></a>
                <span class="comment-text ui-txt-justify"><%= articles[index].comments[i].body %></span>
            </div>
        </div>
        <%}%>
    </div>
    <% if(articles[index].comments.length - 3){ %>
    <div class="view-all-comments util-text-center">
        <a href = "">查看全部<%= articles[index].comments.length %>条回复</a>
        <div class="all-comments-container util-hidden">
            <% for(var i = 3; i < articles[index].comments.length ; i ++){ %>
            <div class="comment util-clearfix">
                <div class="avatar-container util-text-center">
                    <img class="user-avatar" src="<%= articles[index].comments[i].author.headimgurl %>">
                </div>
                <div class=" comment-container">
                    <a class="username"><%= articles[index].comments[i].author.nickname %></a>
                    <span class="comment-text ui-txt-justify"><%= articles[index].comments[i].body %></span>
                </div>
            </div>
            <%}%>
        </div>
    </div>

    <% }%>

    <%} else {%>
    <div class="view-all-comments util-text-center">
        <a href="">暂无评论</a>
    </div>
    <%}%>
</div>
<%}%>