
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>微网站后台管理系统</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <!-- Bootstrap 3.3.5 -->
    <link rel="stylesheet" href="/css/bootstrap.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="/css/font-awesome.css">
    <!--datePicker-->
    <link rel="stylesheet" href="/plugins/datepicker/datepicker3.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="/css/AdminLTE.css">
    <!-- AdminLTE Skins. Choose a skin from the css/skins
         folder instead of downloading all of them to reduce the load. -->
    <link rel="stylesheet" href="/css/skins/skin-blue.css">
    <!--manage.css-->
    <link rel="stylesheet" href="/css/manage.css">
    <style>
        .info-box-content {
            padding: 5px 10px;
            margin-left: 90px;
            height: 90px;
        }
        .info-box-number-custom {
            display: block;
            font-weight: bold;
            font-size: 30px;
            height: 100%;
            line-height: 79px;
        }
    </style>
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">

        <!-- Logo -->
        <a href="/manage" class="logo">
            <!-- mini logo for sidebar mini 50x50 pixels -->
            <span class="logo-mini">后台</span>
            <!-- logo for regular state and mobile devices -->
            <span class="logo-lg">后台管理系统</span>
        </a>

        <!-- Header Navbar: style can be found in header.less -->
        <nav class="navbar navbar-static-top" role="navigation">
            <!-- Sidebar toggle button-->
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                <span class="sr-only">Toggle navigation</span>
            </a>
            <!-- Navbar Right Menu -->
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                    <% include userInfo.ejs %>
                </ul>

            </div>
        </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <aside class="main-sidebar">
        <!-- sidebar: style can be found in sidebar.less -->
        <section class="sidebar">
            <!-- Sidebar user panel -->
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="/img/user2-160x160.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>管理员</p>
                    <a href="#"><i class="fa fa-circle text-success"></i> 在线</a>
                </div>
            </div>
            <!-- sidebar menu: : style can be found in sidebar.less -->
            <ul class="sidebar-menu">
                <li class="header">导航面板</li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-th"></i>
                        <span>产品管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/manage/product"><i class="fa fa-circle-o"></i> 列表</a></li>
                        <li><a href="/manage/product/add"><i class="fa fa-circle-o"></i> 添加</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-newspaper-o"></i>
                        <span>资讯管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/manage/news"><i class="fa fa-circle-o"></i> 列表</a></li>
                        <li><a href="/manage/news/add"><i class="fa fa-circle-o"></i> 添加</a></li>
                    </ul>
                </li>
                <li class="treeview">
                    <a href="#">
                        <i class="fa fa-beer"></i>
                        <span>BBS 管理</span>
                    </a>
                    <ul class="treeview-menu">
                        <li><a href="/manage/bbs"><i class="fa fa-circle-o"></i> 列表</a></li>
                    </ul>
                </li>


                <li>
                    <a href="/manage/about">
                        <i class="fa fa-phone"></i> <span>关于我们</span>
                    </a>
                </li>
                <li class="header">附加功能</li>
                <li><a href="/manage/statistics"><i class="fa fa-circle-o text-red"></i> <span>流量分析</span></a></li>
            </ul>
        </section>
        <!-- /.sidebar -->
    </aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                统计信息
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i>主页</a></li>
                <li class="active">统计信息</li>
            </ol>
        </section>

        <!-- Main content -->
        <section class="content">
            <!-- Info boxes -->
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-aqua"><i class="fa fa-group"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">总访问量</span>
                            <span class="info-box-number"><% if(!err){ %> <%= indexInfo[0]%> <% } %></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-red"><i class="fa fa-user"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">总用户量</span>
                            <span class="info-box-number"><% if(!err){ %> <%= indexInfo[1]%> <% } %></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-green"><i class="fa fa-beer"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">总发帖数</span>
                            <span class="info-box-number"><% if(!err){ %> <%= indexInfo[2]%> <% } %></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-maroon"><i class="fa fa-table"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">总产品数</span>
                            <span class="info-box-number"><% if(!err){ %> <%= indexInfo[3]%> <% } %></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->

                <!-- fix for small devices only -->
                <div class="clearfix visible-sm-block"></div>

                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="info-box">
                        <span class="info-box-icon bg-yellow"><i class="fa fa-newspaper-o"></i></span>
                        <div class="info-box-content">
                            <span class="info-box-text">总新闻数</span>
                            <span class="info-box-number"><% if(!err){ %> <%= indexInfo[4]%> <% }%></span>
                        </div><!-- /.info-box-content -->
                    </div><!-- /.info-box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">配置信息（选择统计区间）</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="input-group">
                                <input type="text" class="form-control datepicker">
                                <span class="input-group-btn">
                                  <button class="btn btn-info btn-flat" type="button" id="getLineData">提交</button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">访问量</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="text-center line-chart-title"><strong><span class="year"></span>年<span class="month"></span>月份访客统计信息</strong></div>
                            <div class="chart">
                                <canvas id="areaChart" style="height:300px"></canvas>
                            </div>
                        </div><!-- ./box-body -->
                    </div><!-- /.box -->
                    <div class="box box-warning">
                        <div class="box-header with-border">
                            <h3 class="box-title">平台与设备</h3>
                            <div class="box-tools pull-right">
                                <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                                <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
                            </div>
                        </div><!-- /.box-header -->
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="text-center"><strong>2016年1月份访客统计信息</strong></div>
                                    <div class="chart">
                                        <canvas id="pieChart" style="height:300px"></canvas>
                                    </div>
                                </div>
                                <div class="col-md-4 deviceData">
                                    <div class="info-box bg-yellow">
                                        <span class="info-box-icon"><i class="fa fa-android"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number-custom"></span>
                                        </div><!-- /.info-box-content -->
                                    </div><!-- /.info-box -->
                                    <div class="info-box bg-green">
                                        <span class="info-box-icon"><i class="fa fa-apple"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number-custom"></span>

                                        </div><!-- /.info-box-content -->
                                    </div><!-- /.info-box -->
                                    <div class="info-box bg-red">
                                        <span class="info-box-icon"><i class="fa fa-windows"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number-custom"></span>
                                        </div><!-- /.info-box-content -->
                                    </div><!-- /.info-box -->
                                    <div class="info-box bg-aqua">
                                        <span class="info-box-icon"><i class="fa fa-linux"></i></span>
                                        <div class="info-box-content">
                                            <span class="info-box-number-custom"></span>
                                        </div><!-- /.info-box-content -->
                                    </div><!-- /.info-box -->
                                </div>
                            </div>

                        </div><!-- ./box-body -->
                    </div><!-- /.box -->
                </div><!-- /.col -->
            </div><!-- /.row -->

        </section><!-- /.content -->
    </div><!-- /.content-wrapper -->

    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0.0
        </div>
        <strong>Copyright &copy; 2016-2017 <a href="http://natumsol.github.com">Natumsol</a>.</strong> All rights reserved.
    </footer>
</div><!-- ./wrapper -->

<!-- jQuery 2.1.4 -->
<script src="/plugins/jQuery/jQuery-2.1.4.min.js"></script>
<!-- Bootstrap 3.3.5 -->
<script src="/js/lib/bootstrap/bootstrap.js"></script>
<!-- ChartJS-->
<script src="/plugins/chartjs/Chart.js"></script>
<!--datePicker-->
<script src="/plugins/datepicker/bootstrap-datepicker.js"></script>
<script src="/plugins/datepicker/locales/bootstrap-datepicker.zh-CN.js"></script>
<!-- AdminLTE App -->
<script src="/js/manage/app.js"></script>
<script src="/js/manage/index.js"></script>
</body>
</html>
