<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>微社区 | 主页</title>
    <link rel="stylesheet" href="css/frozen.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/main.css">
</head>

<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>所有板块</h1>
</header>

<section class="ui-container index">
    <ul class="ui-list  ui-border-tb">
        <% for(var i = 0; i < columns.length; i ++) { %>
        <li class="ui-border-t list-link" data-id="<%= columns[i]._id %>">
            <div class="ui-list-img">
                <span style="background-image:url(http://placeholder.qiniudn.com/200x136)" class="ui-tag-hot"></span>
            </div>
            <div class="ui-list-info">
                <h4 class="ui-nowrap"><%= columns[i].name%> <span class="ui-txt-highlight">（<%= columns[i].topics %>）</span></h4>
                <p class="ui-nowrap"><span class="ui-txt-info">主题<%= columns[i].topics || 0%> 帖数<%= columns[i].posts || 0%></span></p>
            </div>
        </li>
        <% } %>
    </ul>
</section>

<script src="js/lib/zeptojs/zepto.min.js"></script>
<script src="/js/frozen.js"></script>
<script>
    (function (){
        $(".list-link").click(function(){
            location.href ="/?columnId=" + this.dataset.id;
        });
    })();
</script>
</body>

</html>