
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>微社区 | 修改</title>
    <link rel="stylesheet" href="/css/frozen.css">
    <link rel="stylesheet" href="/css/weui.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/js/lib/editor/css/editor.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1>修改</h1>
    <a class="add-article fa fa-home" href="/"></a>
</header>
<div class="ui-footer ui-footer-stable ui-btn-group ui-border-t">

    <button class="ui-btn ui-btn-primary submit-article">
        <i class="fa fa-pencil-square-o"></i> 发布
    </button>

</div>
<section class="ui-container add-article-container">
    <form action="/article/addArticle" method="post" id="form-add-article" style="height: 100%">
        <input type="hidden" name="id" value="<%= article._id %>">
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <input type="text" name="title" placeholder="标题（必填）" class="weui_textarea" value="<%= article.title %>">
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <textarea class="weui_textarea" placeholder="请输入正文" rows="3" name="content"> <%- article.content %></textarea>
                    <div class="weui_textarea_counter"><span>0</span>/200</div>
                </div>
            </div>
        </div>
        <div class="weui_cells weui_cells_form">
            <div class="weui_cell">
                <div class="weui_cell_bd weui_cell_primary">
                    <div class="weui_uploader">
                        <div class="weui_uploader_hd weui_cell">
                            <div class="weui_cell_bd weui_cell_primary">图片上传</div>
                            <div class="weui_cell_ft">0/2</div>
                        </div>

                        <div class="weui_uploader_bd">
                            <ul class="weui_uploader_files img-container">
                                <% for(var i = 0; i < article.images.length; i++){ %>
                                <li class="weui_uploader_file" style="background: url(<%= article.images[i]%>);">
                                    <span class="remove-img weui_icon_clear"></span>
                                    <div class="weui_uploader_status_content"></div>
                                    <input name="images" type="hidden" value="<%= article.images[i]%>">
                                </li>
                                <%} %>
                            </ul>
                            <div class="weui_uploader_input_wrp">
                                <input id="upload-img" class="weui_uploader_input" type="file" accept="image/jpg,image/jpeg,image/png,image/gif" multiple="">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>
</section>
<script src="/js/lib/requirejs/require.js"></script>
<script src="/js/lib/requirejs/require-config.js"></script>
<script>
    require(["/js/bbs/modify.js"], function (modify) {
        modify.init();
    })
</script>
</body>

</html>