<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title >产品查看 | <%= product.name %></title>
    <link rel="stylesheet" href="/css/frozen.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/util.css">
    <link rel="stylesheet" href="/css/main.css">
</head>
<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
    <i class="ui-icon-return" onclick="history.back()"></i>
    <h1 class="ui-nowrap ui-whitespace view-title">产品查看 | <%= product.name %></h1>
</header>
<footer class="ui-footer ui-footer-btn ui-footer-custom">
    <ul class="ui-tiled ui-border-t">
        <li >
            <a class="navigation-menu" href="/">
                <div class="fa fa-home" ></div>
                <div style="font-size: 12px">主页</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/product">
                <div class="fa fa-th" ></div>
                <div style="font-size: 12px">产品展厅</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/bbs">
                <div class="fa fa-beer" ></div>
                <div style="font-size: 12px">以酒会友</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/about">
                <div class="fa fa-phone" ></div>
                <div style="font-size: 12px">关于我们</div>
            </a>
        </li>


    </ul>
</footer>

<section class="ui-container">
    <div class="product-container">
        <table class="ui-table ui-border">

            <tr>
                <td width="100" class="key">产品名称</td>
                <td class="value ui-txt-info"><%= product.name %></td>
            </tr>
            <tr>
                <td class="key">图片</td>
                <td style="padding: 5px 0; text-align: center;" class="value ui-txt-info util-text-center"><img src="<%= product.image_url %>"alt=""></td>
            </tr>
            <tr>
                <td class="key">产品简介</td>
                <td class="value ui-txt-info"><%= product.introduction %></td>
            </tr>
        </table>
        <div class="product-refer">
            <% if(prevProduct) { %>
            <p class="ui-txt-info">下一条：<a href="/product/view?id=<%= prevProduct._id %>"><%= prevProduct.name %></a></p>
            <% } %>
            <% if(nextProduct) { %>
            <p class="ui-txt-info">上一条：<a href="/product/view?id=<%= nextProduct._id %>"><%= nextProduct.name %></a></p>
            <% } %>
        </div>
    </div>
</section>

<script src="/js/lib/requirejs/require.js"></script>
<script src="/js/lib/requirejs/require-config.js"></script>
<script>
    require(["js/product/view.js"], function (view) {
        view.init();
    })
</script>
</body>

</html>

