<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="format-detection" content="telephone=no">
    <title>微社区 | 主页</title>
    <link rel="stylesheet" href="css/frozen.css">
    <link rel="stylesheet" href="css/font-awesome.css">
    <link rel="stylesheet" href="css/util.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body ontouchstart="">
<header class="ui-header ui-header-positive ui-border-b">
    <h1>主页</h1>

</header>
<footer class="ui-footer ui-footer-btn ui-footer-custom">
    <ul class="ui-tiled ui-border-t">
        <li >
            <a class="navigation-menu" href="/">
                <div class="fa fa-home" ></div>
                <div style="font-size: 12px">主页</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/product">
                <div class="fa fa-th" ></div>
                <div style="font-size: 12px">产品展厅</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/bbs">
                <div class="fa fa-beer" ></div>
                <div style="font-size: 12px">以酒会友</div>
            </a>
        </li>
        <li >
            <a class="navigation-menu" href="/about">
                <div class="fa fa-phone" ></div>
                <div style="font-size: 12px">关于我们</div>
            </a>
        </li>


    </ul>
</footer>

<section class="ui-container index">
    <div class="ui-slider" id="news-slider" >
        <ul class="ui-slider-content">
            <% for(var i = 0; i < sliderNews.length; i ++){ %>
                <li>
                    <span style="background-image:url(<%= sliderNews[i].sliderImg %>);position:relative">
                        <a class="title util-hidden" href="/news/view?id=<%= sliderNews[i]._id %>"><%= sliderNews[i].title %></a>
                    </span>
                </li>
            <% } %>
        </ul>
    </div>
    <section class="ui-panel ui-panel-news">
        <a href="/news"><h2 class="ui-arrowlink">最新资讯</h2></a>
        <ul class="ui-list ui-list-pure ui-border-tb">
            <% for(var i = 0; i < news.length; i ++){ %>
            <li class="ui-border-t">
                <a href="/news/view?id=<%= news[i]._id %>"><h3><%= news[i].title%></h3></a>
                <p><span class="date"><%= news[i].createDate %></span></p>
            </li>
            <% } %>
        </ul>

    </section>
    <section class="ui-panel ui-panel-product">
        <a href="/product"><h2 class="ui-arrowlink">产品展示</h2></a>
        <ul class="ui-grid-trisect">
            <%  for(var i = 0 ; i < products.length; i ++) { %>
            <li>
                <div class="">
                    <a href="/product/view?id=<%= products[i]._id %>"><img src="<%= products[i].image_url%>" alt="" class="product-img"></a>
                    <div>
                        <h5 class="ui-nowrap ui-whitespace ui-txt-warning product-name"><a href="/product/view?id=<%= products[i]._id %>"><%= products[i].name%></a></h5>
                        <h6 class="ui-nowrap ui-txt-info product-intro"><%= products[i].introduction%></h6>
                    </div>
                </div>
            </li>
            <% } %>
        </ul>
    </section>


</section>
<script src="/js/lib/requirejs/require.js"></script>
<script src="/js/lib/requirejs/require-config.js"></script>
<script>
    require(["index"], function (index) {
    })
</script>
</body>

</html>